*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

body{
    background-color: white;
    text-align: center;
}

.num{
    font-size: 15px;
    color:#000;
}


#factsText{
    margin-top: 50px;
    
}
#fact{
    margin-top: 20px;
}

/* .container{
    border: 2px solid #7E2C0B;
     background-color: black;
    width: 50%;
    text-align: center;
    float: center;
    border-radius: 9px;
    height: 450px;
} */

.main{
    margin: auto;
    width: 90%;
    text-align: center;
    border-radius: 8px;
    background-color:transparent;
    color:#0D5D8B;
    padding:50px 35px 50px;
    padding-bottom: 10%;
    padding-left: -45%;
    padding-right: -90%;
    border-top: 2px solid #0D5D8B;
    box-shadow: 2px 2px 15px #000;
    
}


.head{
    color:rgba(0, 0, 255, 0.81);
    text-shadow: 0.5px 1.45px blue;
}

#factsText{
    height: 40px;
    width: 50%;
    
}

#hide{
    display: none;
}
.para{
    background-color: white;
    border-radius: 6px;
    padding: 1em;
    width: 30%;
    padding-bottom: 30px;
    margin: auto;
    margin-top: 25px;
    border-top: 3px solid #214FCF;
    border-left: 1.5px solid blue;
    border-right: 1.5px solid blue;
   
}

.form-control{
    width: 49.9%;
    border-top: solid green;
    border-style: none;
    border-radius: 6px;
    height: 35px;
    text-align: center;
    font-size:18px;
    margin-top: 13px;
    border-top: 1.7px solid blue;
    border-bottom: 1.7px solid blue;
    border-left: 1.7px solid blue;
    border-right: 1.7px solid blue;
}

a{
    text-decoration: none;
    font-weight: bold;
}



/* Media Queries */
@media(width:789){
    .main,
    .para{
        width: 45%;
    }
}

@media(width:1080){
    .main,
    .para{
        width: 50%;
      
    }
}