*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

body{
    background-color: rgba(250, 245, 245, 0.986);
    text-align: center;
}

.num{
    font-size: 15px;
    color:#000;
}


#factsText{
    margin-top: 50px;
    
}
#fact{
    margin-top: 20px;
}

.main{
    margin: auto;
    width: 60%;
    text-align: center;
    border-radius: 40px;
    background-color:transparent;
    color:#0D5D8B;
    padding:50px 35px 50px;
    padding-bottom: 10%;
    /* padding-left: -45%;
    padding-right: -90%; */
    border-top: 3.5px solid #0D5D8B;
    box-shadow: 3px 9px 11px rgb(9, 63, 114);
    height:350px;
    
    
}


.head{
    color:rgb(29, 56, 65);
    text-shadow: 0.5px 1.45px blue;
    font-weight: 50px;
}

#main-foo{
    font-weight:bold;
}

#factsText{
    height: 40px;
    width: 50%;
    
}

#hide{
    display: none;
}
.para{
    background-color: white;
    border-radius: 6px;
    padding: 1em;
    width: 30%;
    padding-bottom: 30px;
    margin: auto;
    margin-top: 25px;
    border-top: 3px solid #214FCF;
    border-left: 1.5px solid blue;
    border-right: 1.5px solid blue;
   
}

.form-control{
    width: 49.9%;
    border-top: solid green;
    border-style: none;
    border-radius: 6px;
    height: 35px;
    text-align: center;
    font-size:18px;
    margin-top: 13px;
    border-top: 1.7px solid grey;
    border-bottom: 1.7px solid grey;
    border-left: 1.7px solid grey;
    border-right: 1.7px solid grey;
}

a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(29, 56, 65);
}



/* Media Queries */
@media(min-width:789){
    .main,
    .para{
        width: 45%;
    }
    #numInput{
        font-size: 0.5em;
    }
}

@media(width:1080){
    .main,
    .para{
        width: 50%;
      
    }

    
}